* {
  padding: 0;
  margin: 0;
}
body {
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  background: url(1066px-Andromeda_Galaxy_560mm_FL.jpg);
  background-size: cover;
  background-position: center;
}
.main {
  height: 90vh;
  width: 90vw;
  margin: auto;
}
.h1div {
  font-size: 34px;
  padding: 31px;
  padding-top: 23px;
  color: black;
  background-color: rgba(245, 245, 245, 0.927);
  display: flex;
  width: 66%;
  height: 75px;
  justify-content: center;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  border: 4px solid aliceblue;
  border-bottom-color: rgb(90, 0, 90);
  border-left-color: darkslateblue;
  border-top-color: rgb(57, 0, 75);
  border-right-color: indigo;
  border-right-width: 4.5px;
  border-left-width: 4.5px;
  border-radius: 2.5px;
  transition: all 400ms ease-in-out 20ms;
}
.h1div:hover {
  border-radius: 1.5px;
  transform: matrix(1.005, 0, 0, 1.005, -1, -1);
}
.link-div {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: 80%;
  height: 60vh;
  margin: auto;
  margin-top: 40px;
  row-gap: 30px;
  column-gap: 60px;
  justify-content: space-evenly;
  align-items: center;
}
.link {
  text-align: center;
  width: 280px;
  height: 75px;
  padding: 10px;
  padding-top: 35px;
  font-family: sans-serif;
  border-radius: 3px;
  border: 3.5px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);

  border-bottom-color: rgb(90, 0, 90);
  border-left-color: darkslateblue;
  border-top-color: rgb(57, 0, 75);
  border-right-color: indigo;
  border-right-width: 4px;
  border-left-width: 4px;
  border-radius: 3px;
}
.link:hover {
  animation: none;
  transition: all 330ms ease-in-out 30ms;
  transform: matrix(1.01, 0, 0, 1.01, -1, -1);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
  border: 5px solid rgb(48, 48, 48);
  border-bottom-color: rgb(90, 0, 90);
  border-left-color: darkslateblue;
  border-top-color: rgb(57, 0, 75);
  border-right-color: indigo;
  border-right-width: 6px;
  border-left-width: 6px;
  border-radius: 2.5px;
  color: white;
}
.fourth-link {
  width: 330px;
  height: 75px;
  padding: 15px;
  padding-top: 35px;
  margin-left: -15px;
}
.third-link:hover {
  background-color: rgba(255, 255, 255, .78);
}
.second-link {
  margin-left: 15px;
}
a {
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-decoration: none;
  padding: 6px;
}
a:hover {
  transition: all 140ms ease-in 20ms;
  font-size: 51px;
  padding: 7px;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
.last-class {
  font-size: 26px;
  width: 170px;
  height: 100px;
  border: 3px solid rgba(255, 68, 0, 0.879);
  padding: 9px;
  position: fixed;
  top: 200px;
  left: 40px;
  background-color: rgb(0, 0, 0);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.87);
  animation: last-class 1200ms ease-in-out 1 normal;
  animation-delay: 1s;
}
@keyframes last-class {
  0% {
    top: 200px;
    left: 125px;
    color: white;
    filter: brightness(0%);
    padding: 15px;
  }
  20% {
    filter: brightness(30%);
  }
}